

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #e1eaed;
    background:url('../../assets/img/formbg.jpg');
    background-size: cover;
    max-width: 800px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    
    h2 {
        margin: 45px 0;
        font-weight: bold;
        font-size: 20px;
    }

    
}

.group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 35px;
    padding: 0 35px;

    .label {
        position: absolute;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        pointer-events: none;
    }

    .input {
        width: 350px;
        background-color: transparent;
        border: none;
        border-bottom: solid 1px white;
        outline: none;

        &:focus ~ label,
        &:valid ~ label {
            margin-top: -25px;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
    }
}

.btn {
    color: #eeeeee;
    background-color: transparent;
    outline: none;
    padding: 3px;
    padding-bottom: 0;
    margin: 70px 0;
    border: none;
   
  

    &:hover {
        color: #17ec69;
        border-bottom: solid 1px #ca0627;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -ms-transition: all 1s linear;
        -o-transition: all 1s linear;
        transition: all 1s linear;
    }
}
